article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(images/paper_fibers_@2X.png);
  background-repeat: repeat;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

h1, h2, h3 {
  font-family: "Oswald", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

p, li {
  font-family: "Quattrocento", "Gerogia", serif;
  text-transform: capitalize;
}

ul {
  padding: 0;
  list-style-type: none;
}

header, footer {
  width: 100%;
}

span.usaRed {
  color: #BF0A30;
  font-style: italic;
}

span.type {
  font-family: "Quattrocento", "Gerogia", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #004B6A;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

a, a:hover, a:active, a:visted {
  text-decoration: none;
  cursor: pointer;
}

img.upsideDownFlag {
  width: 50px;
  vertical-align: middle;
}

header {
  height: 100vh;
  padding: 15vh 0;
}

header .navBox > a {
  display: block;
  width: 50px;
  height: 60px;
  margin: 0 auto;
  transition: 1.5s;
}

@media only screen and (max-width: 650px) {
  header .navBox > a {
    display: none;
  }
}

header .navBox > a svg {
  display: block;
  margin: 0 auto;
  transform: rotate(180deg);
}

header .navBox > a svg path {
  transition: 1.5s;
}

header .navBox > a:hover {
  transform: rotate(180deg);
  transform-orgin: center;
}

header .navBox > a:hover svg path {
  fill: #BF0A30;
}

header .headerHeading {
  width: 100%;
}

header .headerHeading h1 {
  font-size: 3.5rem;
  color: #002868;
  letter-spacing: 3px;
  margin-bottom: 0;
  width: 100%;
}

header .headerHeading h2 {
  font-size: 1.2rem;
  color: #002868;
  letter-spacing: 2px;
  position: relative;
  width: 100%;
}

header .headerHeading h2:after {
  content: "";
  height: 4px;
  width: 150px;
  position: absolute;
  background: #BF0A30;
  bottom: -20px;
  left: calc(50% - 75px);
}

.floatBoxContainer {
  width: 100%;
  padding: 10vh;
}

@media only screen and (max-width: 650px) {
  .floatBoxContainer {
    padding: 10vh 0;
  }
}

.floatBoxContainer .leftBox, .floatBoxContainer .rightBox {
  width: 50%;
  float: left;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .floatBoxContainer .leftBox, .floatBoxContainer .rightBox {
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-bottom: 5vh;
  }
}

.floatBoxContainer .leftBox a, .floatBoxContainer .rightBox a {
  font-size: 2.5rem;
  color: #002868;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
  background: #DEE7EF;
  padding: 30px;
  border-radius: 20px;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
  transition: 0.3s;
}

@media only screen and (min-width: 650px) and (max-width: 1024px) {
  .floatBoxContainer .leftBox a, .floatBoxContainer .rightBox a {
    font-size: 3vw;
  }
}

.floatBoxContainer .leftBox a svg path, .floatBoxContainer .rightBox a svg path {
  transition: 0.3s;
}

.floatBoxContainer .leftBox a:hover, .floatBoxContainer .rightBox a:hover {
  color: #BF0A30;
}

.floatBoxContainer .leftBox a:hover svg path, .floatBoxContainer .rightBox a:hover svg path {
  fill: #BF0A30;
}

.wrapper {
  padding: 8vh 0;
}

.wrapper > h2 {
  font-size: 3rem;
  color: #002868;
  letter-spacing: 3px;
}

.peepList {
  width: 50%;
  height: 50vh;
  overflow: scroll;
  float: left;
}

@media only screen and (max-width: 835px) {
  .peepList {
    width: 100%;
    height: 50vh;
    margin-bottom: 10vw;
  }
}

.peepList ul {
  margin: 0 auto;
  width: 60%;
}

@media only screen and (max-width: 835px) {
  .peepList ul {
    width: 80%;
  }
}

.peepList ul li {
  color: #002868;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem 0;
  margin: 0.3rem 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 40, 104, 0.3);
  transition: 0.3s;
}

.peepList ul li:hover {
  color: #004fce;
}

.peepList ul li:nth-child(even) {
  color: #BF0A30;
  transition: 0.3s;
}

.peepList ul li:nth-child(even):hover {
  color: #f53a61;
}

.peepBox {
  width: 50%;
  height: 50vh;
  float: left;
  background: #DEE7EF;
  padding: 1.5rem 0;
}

@media only screen and (max-width: 835px) {
  .peepBox {
    width: 100%;
  }
}

.peepBox h3 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin: 0;
}

.peepBox h3.peopleMoney, .peepBox h3.peopleState {
  color: #004B6A;
}

.peepBox img {
  width: 13%;
  margin: 2rem auto 1rem auto;
  display: block;
}

.formFields {
  margin: 0 auto;
  width: 60%;
}

@media only screen and (max-width: 835px) {
  .formFields {
    width: 90%;
  }
}

.formFields .selectContainer {
  position: relative;
  width: 68%;
  display: inline-block;
}

.formFields select, .formFields input {
  -webkit-appearance: none;
  padding: 5px 20px;
  border: 4px solid #BF0A30;
  display: inline-block;
  margin: 0 2%;
  border-radius: 0;
  background: #eff3f7;
  margin: 0 auto;
  width: 28%;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
  border-radius: 5px;
  color: #002868;
  transition: 0.3s;
}

.formFields select {
  width: 100%;
  background-image: url(images/downArrow.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 5%;
}

.formFields input:hover {
  background: #BF0A30;
  color: whitesmoke;
}

.infoContainer {
  width: 100%;
  margin: 15vh 0;
}

.infoContainer .infoBoxContainerLeft, .infoContainer .infoBoxContainerRight {
  height: 70vh;
  width: 45%;
  margin: 0 2.5%;
  float: left;
}

.infoContainer .infoBoxContainerLeft > img, .infoContainer .infoBoxContainerRight > img {
  width: 13%;
  display: block;
  margin: 3rem auto 1rem auto;
}

@media only screen and (max-width: 835px) {
  .infoContainer .infoBoxContainerLeft, .infoContainer .infoBoxContainerRight {
    width: 90%;
    margin: 0 auto;
    float: none;
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
  .infoContainer .infoBoxContainerLeft > img, .infoContainer .infoBoxContainerRight > img {
    margin: 0 auto;
  }
}

.infoContainer .infoBoxContainerLeft {
  background: rgba(222, 231, 239, 0.8);
}

.infoContainer .infoBoxContainerRight {
  background: rgba(191, 10, 48, 0.1);
}

.infoContainer .infoLeft, .infoContainer .infoRight {
  width: 100%;
  padding: 0 1.5rem 3rem 1.5rem;
  text-align: center;
  font-size: 2rem;
}

.infoContainer .infoLeft a, .infoContainer .infoLeft p, .infoContainer .infoRight a, .infoContainer .infoRight p {
  color: #004B6A;
  font-size: 1rem;
  font-family: "Quattrocento", "Gerogia", serif;
  text-decoration: none;
}

.infoContainer .infoLeft a, .infoContainer .infoRight a {
  font-weight: bold;
  transition: 0.3s;
}

.infoContainer .infoLeft a:hover, .infoContainer .infoRight a:hover {
  color: #004fce;
}

.infoContainer .infoLeft img.nytimes, .infoContainer .infoRight img.nytimes {
  display: block;
  margin: 0 auto;
  width: 40px;
}

.infoContainer .infoLeft h3 {
  color: #002868;
  margin-top: 0;
}

.infoContainer .infoRight h3 {
  color: #BF0A30;
  margin-top: 0;
}

footer {
  background: #002737;
  text-align: center;
  font-family: "Quattrocento", "Gerogia", serif;
  font-size: 0.8rem;
  color: #E5E5E5;
  padding: 5px 0;
}

footer a {
  text-decoration: none;
  color: #E5E5E5;
  transition: 0.3s;
}

footer a:hover {
  color: #BF0A30;
}
