article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(images/paper_fibers_@2X.png);
  background-repeat: repeat;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

h1, h2, h3 {
  font-family: "Oswald", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

p, li {
  font-family: "Quattrocento", "Gerogia", serif;
  text-transform: capitalize;
}

ul {
  padding: 0;
  list-style-type: none;
}

header, footer {
  width: 100%;
}

span.usaRed {
  color: #BF0A30;
  font-style: italic;
}

span.type {
  font-family: "Quattrocento", "Gerogia", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #004B6A;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

a, a:hover, a:active, a:visted {
  text-decoration: none;
  cursor: pointer;
}

img.upsideDownFlag {
  width: 50px;
  vertical-align: middle;
}

header {
  height: 100vh;
  padding: 15vh 0;
}

@media only screen and (max-width: 733px) {
  header {
    padding: 90px 0 0 0;
    height: auto;
  }
}

header .headerHeading {
  width: 100%;
}

header .headerHeading h1 {
  font-size: 3.5rem;
  color: #002868;
  letter-spacing: 2px;
  margin-bottom: 0;
  width: 100%;
}

header .headerHeading h2 {
  font-size: 1.2rem;
  color: #002868;
  letter-spacing: 2px;
  position: relative;
  width: 100%;
}

header .headerHeading h2:after {
  content: "";
  height: 4px;
  width: 150px;
  position: absolute;
  background: #BF0A30;
  bottom: -20px;
  left: calc(50% - 75px);
}

@media only screen and (min-width: 500px) and (max-width: 733px) {
  header .headerHeading h1 {
    font-size: 2.9rem;
  }
  header .headerHeading h1 img.upsideDownFlag {
    display: inline;
  }
  header .headerHeading h2 {
    margin: 40px auto;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  header .headerHeading h1 {
    margin-top: 0;
  }
  header .headerHeading h1 > img {
    display: block;
    margin: 15px auto;
  }
  header .headerHeading h2 {
    margin: 40px auto;
    width: 80%;
  }
  header .headerHeading h2:after {
    bottom: -50px;
  }
}

.floatBoxContainer {
  width: 100%;
  padding: 10vh;
}

@media only screen and (max-width: 650px) {
  .floatBoxContainer {
    padding: 10vh 0;
  }
}

.floatBoxContainer .leftBox, .floatBoxContainer .rightBox {
  width: 50%;
  float: left;
  text-align: center;
}

@media only screen and (max-width: 733px) {
  .floatBoxContainer .leftBox, .floatBoxContainer .rightBox {
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-bottom: 5vh;
  }
}

.floatBoxContainer .leftBox a, .floatBoxContainer .rightBox a {
  font-size: 2.5rem;
  color: #002868;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
  background: #DEE7EF;
  padding: 30px;
  border-radius: 20px;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
  transition: 0.3s;
}

@media only screen and (max-width: 1024px) {
  .floatBoxContainer .leftBox a, .floatBoxContainer .rightBox a {
    font-size: 30px;
    display: block;
  }
  .floatBoxContainer svg {
    display: block;
    margin: 0 auto 20px auto;
  }
}

@media only screen and (max-width: 931px) {
  .floatBoxContainer {
    padding: 60px 0;
  }
  .floatBoxContainer .leftBox a, .floatBoxContainer .rightBox a {
    font-size: 25px;
    display: block;
    letter-spacing: 2px;
  }
  .floatBoxContainer svg {
    display: block;
    margin: 0 auto 20px auto;
  }
}

@media only screen and (max-width: 500px) {
  .floatBoxContainer .leftBox, .floatBoxContainer .rightBox {
    padding: 10px;
  }
  .floatBoxContainer .leftBox a, .floatBoxContainer .rightBox a {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 10px;
  }
  .floatBoxContainer svg {
    margin-bottom: 10px;
  }
}

.wrapper {
  padding: 8vh 0;
}

.wrapper > h2 {
  font-size: 3rem;
  color: #002868;
  letter-spacing: 3px;
  margin: 0;
  margin: 30px;
}

.wrapper > p {
  text-align: center;
  color: grey;
  margin: 30px 0;
  text-transform: inherit;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

@media only screen and (min-width: 500px) and (max-width: 733px) {
  .wrapper.whoWrapper {
    padding-top: 0;
  }
  .wrapper.whoWrapper h2 {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding-top: 0;
  }
  .wrapper > h2 {
    font-size: 2.8rem;
  }
  .wrapper > h2 img {
    display: block;
    margin: 0 auto;
  }
  .wrapper > p {
    font-size: 18px;
    width: 80%;
    margin: 30px auto;
  }
}

.peepList {
  width: 50%;
  height: 400px;
  float: left;
}

@media only screen and (max-width: 860px) {
  .peepList {
    width: 100%;
    height: 200px;
    margin-bottom: 10vw;
    float: none;
  }
}

.peepList input {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 10px;
  border: 1px solid #99b5ce;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  font-family: "Quattrocento", "Gerogia", serif;
  background-image: url(images/searchGlass.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px;
}

.peepList ul {
  margin: 0 auto;
  width: 80%;
  overflow: scroll;
  height: calc(100% - 40px);
}

@media only screen and (max-width: 860px) {
  .peepList ul {
    width: 80%;
  }
}

.peepList ul li {
  color: #002868;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem;
  margin: 0.3rem 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 40, 104, 0.3);
  transition: 0.3s;
}

.peepList ul li i {
  display: none;
}

.peepList ul li:hover {
  color: #004fce;
}

.peepList ul li.selected {
  font-style: italic;
  font-weight: bold;
}

.peepList ul li.selected i {
  display: inline;
  font-size: 1.2rem;
}

.peepBox {
  width: 50%;
  height: 400px;
  background: #DEE7EF;
  padding: 1.5rem 0;
  float: left;
  transition: 0.3s;
}

@media only screen and (max-width: 860px) {
  .peepBox {
    width: 90%;
    padding: 20px 40px;
    margin: 0 auto;
    height: auto;
    float: none;
  }
  .peepBox > div {
    width: 100%;
  }
  .peepBox > div img {
    width: 90%;
  }
  .peepBox > div:first-child {
    width: 15%;
    float: left;
    height: 125px;
    margin: 20px 0;
  }
  .peepBox > div:nth-child(3) {
    width: 100%;
  }
}

.peepBox h3 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin: 0;
}

.peepBox h3.peopleMoney, .peepBox h3.peopleState {
  color: #004B6A;
}

.peepBox img {
  width: 13%;
  margin: 2rem auto 1rem auto;
  display: block;
}

@media only screen and (max-width: 650px) {
  .peepBox > div:first-child {
    width: 100%;
    float: none;
    height: auto;
    margin: 20px 0;
  }
  .peepBox > div:first-child img {
    margin: 0 auto;
    width: 40px;
    height: 40px;
  }
}

.formFields {
  margin: 0 auto;
  width: 60%;
}

@media only screen and (max-width: 860px) {
  .formFields {
    width: 90%;
  }
}

.formFields .selectContainer {
  position: relative;
  width: 68%;
  display: inline-block;
}

.formFields select, .formFields input {
  -webkit-appearance: none;
  padding: 5px 20px;
  border: 4px solid #BF0A30;
  display: inline-block;
  margin: 0 2%;
  border-radius: 0;
  background: #eff3f7;
  margin: 0 auto;
  width: 28%;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
  border-radius: 5px;
  color: #002868;
  transition: 0.3s;
}

.formFields select {
  width: 100%;
  background-image: url(images/downArrow.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 5%;
}

.formFields input:hover {
  background: #BF0A30;
  color: whitesmoke;
}

@media only screen and (max-width: 500px) {
  .formFields select, .formFields input {
    font-size: 4vw;
  }
  .formFields input {
    padding: 5px;
  }
}

.infoContainer {
  width: 100%;
  margin: 15vh 0;
  transition: 0.4s;
}

.infoBoxContainerLeft, .infoBoxContainerRight {
  height: 490px;
  width: 45%;
  margin: 0 2.5%;
  float: left;
  transition: 0.4s;
}

.infoBoxContainerLeft > img, .infoBoxContainerRight > img {
  width: 13%;
  display: block;
  margin: 3rem auto 1rem auto;
  transition: 0.3s;
}

.infoBoxContainerLeft {
  background: rgba(222, 231, 239, 0.8);
}

.infoBoxContainerRight {
  background: rgba(191, 10, 48, 0.1);
}

.infoLeft, .infoRight {
  width: 100%;
  padding: 0 1.5rem 3rem 1.5rem;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s;
}

@media only screen and (max-width: 860px) {
  .infoLeft, .infoRight {
    padding: 0 1.5rem;
  }
}

.infoLeft a, .infoLeft p, .infoRight a, .infoRight p {
  color: #004B6A;
  font-size: 1rem;
  font-family: "Quattrocento", "Gerogia", serif;
  text-decoration: none;
}

.infoLeft a, .infoRight a {
  font-weight: bold;
  transition: 0.3s;
}

.infoLeft a:hover, .infoRight a:hover {
  color: #004fce;
}

.infoLeft img.nytimes, .infoRight img.nytimes {
  display: block;
  margin: 0 auto;
  width: 40px;
  transition: 0.3s;
}

.infoLeft h3 {
  color: #002868;
  margin-top: 0;
}

.infoRight h3 {
  color: #BF0A30;
  margin-top: 0;
}

@media only screen and (max-width: 860px) {
  .infoBoxContainerLeft, .infoBoxContainerRight {
    padding: 30px 50px;
    width: 90%;
    margin: 0 auto;
    float: none;
    height: auto;
  }
  .infoBoxContainerLeft > img, .infoBoxContainerRight > img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 860px) {
  .infoLeft, .infoRight {
    position: relative;
  }
  .infoLeft h3, .infoRight h3 {
    font-size: 30px;
    text-align: left;
    margin: 0;
  }
  .infoLeft span, .infoRight span {
    margin: 15px 0;
    text-align: left;
  }
}

@media only screen and (max-width: 860px) {
  .nytArticle {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  .nytArticle img.nytimes {
    position: absolute;
    margin: 30px;
    width: 30px;
    left: -40px;
    top: -30px;
  }
  .nytArticle a {
    width: calc(100% - 90px);
    float: right;
    text-align: left;
  }
}

@media only screen and (max-width: 590px) {
  .infoBoxContainerLeft, .infoBoxContainerRight {
    padding: 20px;
  }
  .infoBoxContainerLeft img, .infoBoxContainerRight img {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .infoBoxContainerLeft img .infoLeft, .infoBoxContainerLeft img .infoRight, .infoBoxContainerRight img .infoLeft, .infoBoxContainerRight img .infoRight {
    text-align: center;
  }
}

@media only screen and (max-width: 590px) {
  .infoLeft h3, .infoLeft span, .infoRight h3, .infoRight span {
    text-align: center;
  }
  .infoLeft h3, .infoRight h3 {
    font-size: 24px;
  }
  .infoLeft .nytArticle img.nytimes, .infoRight .nytArticle img.nytimes {
    display: none;
  }
  .infoLeft .nytArticle > a, .infoRight .nytArticle > a {
    float: none;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 1.4;
    text-decoration: underline;
  }
}

p.seeMore {
  font-size: 15px;
  font-weight: normal;
  font-family: "Quattrocento", "Gerogia", serif;
}

p.seeMore a {
  color: grey;
  transition: 0.3s;
}

p.seeMore a:hover {
  color: #BF0A30;
}

footer {
  background: #002737;
  text-align: center;
  font-family: "Quattrocento", "Gerogia", serif;
  font-size: 0.8rem;
  color: #E5E5E5;
  padding: 5px 0;
}

footer a {
  text-decoration: none;
  color: #E5E5E5;
  transition: 0.3s;
}

footer a:hover {
  color: #BF0A30;
}

@media only screen and (max-width: 650px) {
  footer {
    padding: 10px 0;
  }
  footer p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.4;
  }
}
